.signup-container {
  margin: auto;
  padding: 10px 20px;
  font-weight: bold;
}

h1 {
  color: rgb(138, 5, 94);
}

button.btn {
  border: 1px solid white;
  background-color: rgb(138, 5, 94);
  color: rgb(250, 240, 229);
}

hr.header {
  border: 1px solid darkslategrey;
}

i {
  margin: auto 3px;
  vertical-align: middle;
}

.formattedLink:link {
  display: inline;
  color: #000000;
  text-align: center;
}

.formattedLink:hover {
  display: inline;
  color: #000000;
  text-align: center;
}
