.Main {
  background-color: #faf0e5;
  min-width: 100vw;
  min-height: 100vh;
}

.custom-container-width {
  justify-content: center;
  text-align: justify;
  display: flex;
  align-items: center;
}

.custom-card {
  text-align: justify;
  padding: 0;
}

.suggestionMargin {
  margin: 10px;
}

.lowestZ {
  z-index: 0;
  text-decoration: none;
}
a {
  text-decoration: none;
}
