body
{
    overflow-x: hidden; 
    min-width: 100vw;
    min-height: 100%;
}

.App {
  text-align: center;
  background-color: #d009f8;
}

.main {
  background-color: rgb(250, 240, 229);
  position: fixed;
  min-width: 100vw;
  min-height: 100%;
  color: black;
}

label {
  margin: auto 3px;
  vertical-align: middle;
}

#bgd {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}

.background {
  position: sticky;
  top: 0;
  min-height: 100vh;
  background-image: linear-gradient(to right, #567ace, #b9281d);
}

.page-styling {
  background-color: #faf0e5;
  width: 100%;
  min-height: 100%;
}

h2,
.content-header {
  padding: 1vh 0 0 0;
  color: #ba1851;
}

h4,
.content-subheader {
  padding: 1vh 0 0 0;
  color: rgb(138, 5, 94);
}

.slide-in-t {
  animation: 2s slide-in-from-top;
}

.slide-in-l {
  animation: 2s slide-in-from-left;
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100;
  }
}
@keyframes slide-in-from-top {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}

html,
body {
  min-height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
